
/*.image1{

  position: absolute;
float: right;



}*/
.image2{
  right: 0;
/*  float: right;*/
/*  position: fixed;
 transform: rotate(90deg);
 top: 1400px;
 right: -1300px;
 z-index: 5;*/
}

.image3{
  left: 0;
/*  position: fixed;
 transform: rotate(90deg);
 top: 1400px;
 left: -1300px;
 z-index: 5;*/
}

.fixed{
  position: fixed;
  top: 50%;
  width: 300px;
}

img{
  width: 100%;
}


h1{
  width: 50%;
  padding-top: 2em;
font-family: 'Caladea', serif;
font-family: 'Source Code Pro', monospace;
margin-left: 160px;
font-size: 13pt;
}


h2{
  width: 50%;
  padding-top: 2em;
font-family: 'Merriweather', serif;

}
article{
  width: 80%;
  margin: auto;
  position: relative;
 
  font-family: 'Caladea', serif;
  color: black;
  display: flex;
}

.col1{
  flex: 2;
}

.col2{
  flex: 1;
}


.content{
  margin-left: 100px;
}

p{
    font-family: 'Caladea', serif;
}

p.solid{
  outline-style: solid;
  outline-width: .1em;
  padding: 1em;
    font-family: 'Caladea', serif;
}