body{
  margin: auto;
  height: 100vh;
  max-width: 70em;
}

.image{
  position: relative;
  top: 150px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20em;

}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.image:hover .overlay{
  display: block;
}

.col1{
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

mark {
    /*background-color: yellow;
    font-style: "bold" !important;*/
    /*text-decoration: underline;
    text-decoration-color: skyblue;*/
  }


p.k1{
font-family: 'Roboto', sans-serif;
font-style: "bold 700";
font-size: 12pt;
color: white;
line-height: 1.6;
text-align: center;
}

.k1:hover{
  color: black;
}

footer {
  text-align: center;
/*  padding: 10px;*/
  color: black;
  margin-top: 2em;
  height: 5vh;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
}


@media screen and (max-width: 900px){
  /*body{
    font-size:  16px;
  }*/
 p.k1{
    font-size: 1.5em;
  }
  .image{
    width: 100%;
  }
}

@media screen and (max-width: 700px){
  article{
    max-width: none;
    width: 90%;
  }

}
