
.zoom{
  transition: transform .2s;
}



.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}



.no{
  width: 80%;
  padding-left: 50px;
  margin-top: 100px;
    margin-bottom: 100px;  
}


.image1{
  width: 100%;
}
.image2{
  right: 0;
}

.image3{
  left: 0;
}

.fixed{
    position: fixed;
    top: 25%;
    width: 150px;
}

.alphabet{
  width: 105%;
}

mark {
    background-color: yellow;
    font-style: bold;
  }


img{
  width: 100%;
  margin-left: 20px;
}

.sign{
  width: 80%;
}

p.k1{
font-family: 'Caladea', serif;
font-family: 'Source Code Pro', monospace;
margin-left: 50px;
font-size: 13pt;
color: white;

}

.k1:hover{
  color: black;
}
p.k2{
font-family: 'Caladea', serif;
font-family: 'Source Code Pro', monospace;
margin-left:80px;
font-size: 12pt;
}

p.j1{
font-family: 'Source Code Pro', monospace;
margin-left: 5px;
font-size: 23pt;
text-align: center;
}

/*.p2{
font-family: 'Caladea', serif;
font-family: 'Source Code Pro', monospace;
margin-left: 50px;
font-size: 11pt;
}*/

article{
  width: 80%;
    margin-top: 120px;
    margin-left: 150px;
    position: relative;
    font-family: 'Caladea', serif;
    color: black;
    display: flex;

}
.quote{
width: 75%;
flex: 1;
margin: auto;
/*padding-top: 0px;*/
/*padding-bottom: 100px;*/
text-align: center;
}

.col1{
width: 50%;
/*flex: 2;*/
margin-top: -140px;
}

.col2{
  flex: 1;
margin-top: -140px;
}
}

