body{
  cursor: pointer;
 /* background-color: black;*/
}

/*.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}*/

/*.no{
  width: 80%;
  padding-left: 50px;
  margin-top: 100px;
    margin-bottom: 100px;  
}*/


.image1{
  width: 100%;
}
.image2{
  right: 0;
}

.image3{
  left: 0;
}

.fixed{
    position: fixed;
    top: 25%;
    width: 150px;
}

.alphabet{
  width: 105%;
}

mark {
    background-color: yellow;
    font-style: bold;
  }


img{
  width: 100%;
  margin-left: 20px;
}

/*.sign{
  width: 80%;
}*/

p.k1{
font-family: 'Roboto Serif', serif;
margin-left: 50px;
font-size: 30pt;
color: white;
line-height: 1.6;

}

.k1:hover{
  color: black;
}

article{
  width: 80%;
  margin-top: 120px;
  margin-left: 150px;
  position: relative;
 color: black;
    display: flex;
}

/*.quote{
width: 75%;
flex: 1;
margin: auto;
text-align: center;
}*/

.col1{
width: 80%;
/*flex: 2;*/
margin: -140px;
}

.col2{
  flex: 1;
margin-top: -140px;
}

hr.ending{
    border: 1px black;
}

footer{
  background-color: #40e0d0;
    text-align: justify;

  }