body{
  margin: auto;
  height: 100vh;
  width: 55%;
  font-family: 'Weave', sans-serif;
  margin-bottom: 4rem;
  font-size: 40px;
   background-color: #fcfcfc;
   --wght: 100;
}

h1{
  margin-top: 1em;
  font-size: 75px;
  text-align: center;
  color: #1483d7;
}

@font-face {
  font-family: 'Weave';
  src: url('fonts/weave.woff2') format('woff2-variations'),
  url('fonts/weave.woff') format('woff-variations'),
  url('fonts/weave.ttf') format('truetype-variations');
}

#bigletter01 {
  font-size: 170px;
  --wght: 100;
  color: #1483d7;
}

#bigletter02 {
  font-size: 90px;
    --wght: 400;
    color: #edc215;
}

#bigletter03 {
  font-size: 170px;
  --wght: 900;
  color: #139e54;
  padding-bottom: 0.2em;
  margin-top: 0.1em;
}

#bigletter2 {
  font-size: 230px;
  color: #e788bb;
  max-height: 30%;
}

#bigletter3 {
  font-size: 40px;
  text-align: center;
  color: #e897b9;
}

.weave, .weave *{
  font-variation-settings: 'wght' var(--wght);
  color: #c3dff2;
}

section{
  margin: 3rem 0;
}


#intro{
  font-size:10vw;
  line-height: 0.8;
  text-align: center;

}

#content{
  width: 80%;
  margin: auto;
  --wght: 900;
}

#content p{
  transition: font-variation-settings 400ms ease-in-out;
   color: #139e54;
}

/*SLIDER STYLES*/

#sliders ul{
  margin: auto;
  text-align: center;
}
#sliders li{
  display: flex;
  justify-content: center;
}

.range-name, .min, .max{
  width: 100px;
}
.min{
  text-align: center;
}
.range-name::after{
  content: ': ';
}

input.axis-range{
  width: 350px;
  margin: 0 20px;
}

#tester{
    --wght: 900;
}


.tester-container {
    display: flex;
    --wght: 900;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e788bb;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
 background: repeating-linear-gradient(
    to right,
    #ffffff 3px,
    #139e54 5px
  );
}

#tester {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 4vw;
    --wght: 900;
    line-height: 0.63em;
    text-align: center;
}

 